<h1>Skills#index</h1>

<div class="container">
  <div class="row">
    <% @skills.each do |skill| %>
      <div class="col-xs-12 col-sm-4">
        <%= render "shared/card", skill: skill %>
      </div>
    <% end %>
  </div>
</div>

<!-- <p>Find me in app/views/skills/index.html.erb</p>
 -->
