<h1>Search Results</h1>
<div class="container">
  <div class="row">
    <% if @skills.blank? %>
      <h4>There are no skills matching your search <%= params[:search] %>.</h4>
    <% else %>
      <% @skills.each do |skill| %>
        <div class="col-xs-12 col-sm-4">
        <%= render "shared/card", skill: skill %>
      <% end %>
      </div>
    <% end %>
  </div>
</div>
