<h1>Skills#show</h1>

<ul>

  <li><%= @skill.name%> | <%= @skill.description %> </li>

</ul>

<div id="map" style="width: 100%; height: 600px;"></div>


<!-- <p>Find me in app/views/skills/show.html.erb</p>
 -->
