<div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://kitt.lewagon.com/placeholder/cities/shanghai');">
  <div class="card-category">Popular</div>
  <div class="card-description">
    <h2><%= skill.name %></h2>
    <p><%= skill.description %></p>
  </div>
  <%= image_tag skill.user.facebook_picture_url, class: "card-user" %>
  <a class="card-link" href="#" ></a>
</div>
