<%= render "navbar_home" %>
<%= render "shared/banner" %>

<div class="container">
  <div class="row content">
    <h4 class="divider text-center">
      <span class="sans">There is no limit to what you can learn...</span>
        </div>
      <hr>
    </h4>
</div>
